body {
  font-family: 'pp_hattonmedium';
  margin: 0;
  padding: 0;
  color: #ff83c1;;
}

.wrapper {
  max-width: 100%;
  margin: 0;
}

.header {
  background: linear-gradient(#40b2f1, #c250f0);
  width: 100%;
  height: 125px;
}

.subheader1 {
  display: block;
  width: 100%;
  height: 50%;
  padding-top: 1rem;
}
.subheader1 img{
  width: 50px;
  height: 50px;
}

.subheader2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
}

.subheader2 p{
  text-align: center;
  font-size: 13pt;
  margin-top: -15px;
  margin-left: 50px;
  margin-right: 80px;
}
.menuicon{
  margin-top: -45px;
  margin-left: 620px;
}

.menuicon img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
 
.logo {
  float: left;
  max-width: 20%;
}

.info{
  display: flex;
  justify-content: center;
  max-width: 80%;
  padding-right: 1rem;
}

.language{
  float: right;
  margin-top: -57px;
  margin-right: 33px;
}
.subheader1 a{
  font-size: 15pt;
  text-align: center;
}

.subheader1 h1 {
  text-align: center;
  font-size: 29pt;
}

.container {
  max-width: 100%;
}

.container p {
  text-align: center;
}

.row1 {
  display: block;
  align-items: center;
  width: 100%;
  height: 50%;
}

.row1 br{
  line-height: 0.5;
}
.row2 {
  float:right;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-left: 1050px;
}

.row2 img {
  width: 80%;
}

.banner {
  max-width: 100%;
}

.banner img {
  width: 100%;
  padding-top: 10px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-item {
  display: inline-grid;
  background-color: #d1d0d0;
  width: 300px;
  height: 350px;
  align-items: center;
  justify-content: center;
  margin: 25px;
  text-align: center;
}

.menu-item img {
  width: 90%;
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 33px;
}


.footer img {
  width: 25px;
  height: 25px;
  margin: -35px 40px 0 30px;
}

.footer a {
  font-size: 10pt;
  margin-right: 1rem;
}

.footer p {
  margin-left: 900px;
  font-size: 10pt;
  font-size: 200;
}

.footer span {
  font-weight: 700;
}

.logo {
  float: left;
  align-items: center;
  margin: 0 50px;
}

.name {
  float: right;
  font-size: 18pt;
  margin: 10px 50px;
  color: #ff83c1;
  font-weight: bold;
}

h1 a p {
  color: #ff83c1;
}

h1 {
  font-size: 40pt;
  font-weight: 500;
  text-align: center;
}

a,
p {
  font-size: 18pt;
  text-decoration: none;
  color: #ff83c1;
}

a:hover {
  color: white;
  text-decoration: none;
}

hr {
  color: white;
  size: 5px;
}

image {
  width: 70%;
}

/* mobile screen */
@media (max-width: 768px) {

  .header{
    height: 70px;
  }

  .logo{
    margin-left:33px;
  }

  .subheader1 {
    float: right;
    margin: 0 15px;
  }
  .subheader1 img{
    width: 30px;
    height: 30px;
  }

  .subheader1 h1 {
    text-align: center;
    font-size: 20pt;
  }

  .subheader1 a{
    font-size: 10pt;
    text-align: center;
  }
  .subheader2 p{
    font-size: 4pt;
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 5px;
  }

  .info{
    margin-right: 100px;
    margin-top: -6px;
  }
  .language{
    margin-top: -47px;
    margin-right: 5px;
  }
  .menuicon{
    margin-top: 5px;
    margin-left: 55px;
  }

  .menuicon img{
    width: 8px;
    height: 8px;
  }
  

  .banner{
    padding-top: -10px;
  }

  .banner img {
    max-width: 100%;
  }

  .footer{
    margin-left: 20px;
  }

 .row2{
  margin-left: 50px;
 }

  .footer img {
    width: 10px;
    height: 10px;
    margin: -50px 9px 0 18px;
  }

  .footer a {
    font-size: 6pt;
  }

 

  h1 {
    font-size: 18pt;
    font-weight: 400;
  }

  a{
    font-size: 9pt;
  }
  p {
    font-size: 6pt;
  }

}